{% extends "base.html" %}
{% block content %}

	<h1>Äänestyksen tiedot</h1>

	{% if message %}
		<div class="alert alert-success">
		{{message}}
		</div>
	{% endif %}
	
	<div class="box_basic" id="poll_show">
		<table class="table-striped">
			<tr>
				<td class="row_title">Nimi</td>
				<td>{{poll.name}}</td>
			</tr>
			<tr>
				<td class="row_title">Kuvaus</td>
				<td>{{poll.description}}</td>
			</tr>
			<tr>
				<td class="row_title">Alkamisaika</td>
				<td>{{poll.start_time}}</td>
			</tr>
			<tr>
				<td class="row_title">Päättymisaika</td>
				<td>{{poll.end_time}}</td>
			</tr>
			{% for option in polloptions %}
				<tr>
					<td class="row_title">Vaihtoehdon ”{{option.name}}” kuvaus</td>
					<td>{{option.description}}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
	
	<div class="ctrl_btns">
		<a class="btn btn-default" href="{{base_path}}/poll/{{poll.id}}/edit">Muokkaa tietoja</a>
		<a class="btn btn-default" href="{{base_path}}/poll/{{poll.id}}/delete">Poista äänestys</a>
	</div>
	
	<h1>Äänestyksen tulokset</h1>

{% endblock %}