{% extends "base.html" %}
{% block content %}

	<h1>Äänestyksen tiedot</h1>

	<div class="box_basic" id="poll_admin_show">
		<table class="table-striped">
			<tr>
				<td class="row_title">Nimi</td>
				<td>Vuoden opettaja</td>
			</tr>
			<tr>
				<td class="row_title">Kuvaus</td>
				<td>Kuka on mantsan laitoksen vuoden opettaja? Äänestä nyt!</td>
			</tr>
			<tr>
				<td class="row_title">Aloitusajankohta</td>
				<td>7.2.2016 klo 0.00</td>
			</tr>
			<tr>
				<td class="row_title">Päättymisajankohta</td>
				<td>21.2.2016 klo 0.00</td>
			</tr>
			<tr>
				<td class="row_title">Vaihtoehdon 1 nimi</td>
				<td>Rami Ratvio</td>
			</tr>
			<tr>
				<td class="row_title">Vaihtoehdon 1 kuvaus</td>
				<td>Hallitseva mestari</td>
			</tr>
			<tr>
				<td class="row_title">Vaihtoehdon 2 nimi</td>
				<td>Tuuli Toivonen</td>
			</tr>
			<tr>
				<td class="row_title">Vaihtoehdon 2 kuvaus</td>
				<td>Haastaja GIS-taitajien joukosta</td>
			</tr>
			<tr>
				<td class="row_title">Vaihtoehdon 3 nimi</td>
				<td>Juha Karhu</td>
			</tr>
			<tr>
				<td class="row_title">Vaihtoehdon 3 kuvaus</td>
				<td>Koska laitoksen päällikön luennoilla on aina hauskaa!</td>
			</tr>
		</table>
	</div>
	
	<div class="ctrl_btns">
		<button class="btn btn-default">Muokkaa tietoja</button>
	</div>

{% endblock %}