#main-container{
  max-width: 1200px;
  padding: 10px 25px;
  margin: 0px auto;
}

.navbar .container-fluid{
  max-width: 1200px;
  margin: 0px auto;
}

.box_basic{
	display: -webkit-box;
	display: -moz-box;
	display: box;
	background-color: #ebf4fb;
	border: 2px solid #b7ddf2;
	padding: 10px;
}

.box_basic table {
	border: 1px solid #b7ddf2;
}

.box_basic thead{
	border-bottom: 1px solid #b7ddf2;
	font-size: 120%;
}

.box_basic td, .box_basic th{
	padding: 3px 10px 3px 10px;
}

.box_basic tr{
	background-color: #ddeeff;
}

.box_basic .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
	background-color: #eeeeff;
}

.box_basic td.row_title, .box_basic td.action{
	font-weight: bold;
}

#login_form > label{
	width: 100px;
}

#poll_edit > label{
	width: 220px;
}

#poll_edit > textarea{
	margin: 10px 0 2px 1px;
}

#login_submit{
	margin: 10px 3px 3px 103px;
}

#poll_edit_add_option, #poll_edit_submit{
	margin: 10px 3px 3px 223px;
}

div.ctrl_btns {
	margin: 15px 0 15px 0;
}

