{% extends "base.html" %}
{% block content %}

	<h1>Hallinnoi käyttäjiä</h1>

	{% if message %}
		<div class="alert alert-success">
		{{message}}
		</div>
	{% endif %}
	
	<div class="ctrl_btns">
		<a class="btn btn-default" href="{{base_path}}/user/new">Lisää uusi</a>
	</div>
	
	<div class="box_basic" id="user_admin_list">
		<table class="table-striped">
			<thead>
				<tr>
					<th>Käyttäjänimi</th>
					<th>Ylläpitäjä</th>
					<th>Koko nimi</th>
					<th colspan="3">Sähköposti</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td><a href="{{base_path}}/user/{{user.id}}">{{user.login}}</a></td>
						{% if user.admin %}
							<td>On</td>
						{% else %}
							<td>Ei</td>
						{% endif %}
						<td><a href="{{base_path}}/user/{{user.id}}">{{user.name}}</a></td>
						<td><a href="{{base_path}}/user/{{user.id}}">{{user.email}}</a></td>
						<td class="action"><a href="{{base_path}}/user/{{user.id}}/edit">Muokkaa</a></td>
						<td class="action">{% if not (user_logged_in.id == user.id) %}<a href="{{base_path}}/user/{{user.id}}/delete">Poista</a>{% endif %}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}