{% extends "base.html" %}
{% block content %}

	{% if user_logged_in.id == user.id %}
	<h1>Omat tiedot</h1>
	{% else %}
	<h1>Käyttäjän tiedot</h1>
	{% endif %}

	{% if message %}
		<div class="alert alert-success">
		{{message}}
		</div>
	{% endif %}
	
	{% if warning %}
		<div class="alert alert-warning">
		{{warning}}
		</div>
	{% endif %}

	{% if error %}
		<div class="alert alert-danger">
		{{error}}
		</div>
	{% endif %}

	<h2>Perustiedot</h2>
	
	<div class="box_basic" id="user_show">
		<table class="table-striped">
			<tr>
				<td class="row_title">Käyttäjätunnus</td>
				<td>{{user.login}}</td>
			</tr>
			<tr>
				<td class="row_title">Ylläpito-oikeus</td>
				{% if user.admin %}
					<td>On</td>
				{% else %}
					<td>Ei</td>
				{% endif %}
			</tr>
			<tr>
				<td class="row_title">Koko nimi</td>
				<td>{{user.name}}</td>
			</tr>
			<tr>
				<td class="row_title">Sähköpostiosoite</td>
				<td>{{user.email}}</td>
			</tr>
		</table>
	</div>
	
	<div class="ctrl_btns">
		<a class="btn btn-default" href="{{base_path}}/user/{{user.id}}/edit">Muokkaa {% if user_logged_in.id == user.id %}omia{% endif %} tietoja</a>
		{% if not (user_logged_in.id == user.id) and user_logged_in.admin %}<a class="btn btn-default" href="{{base_path}}/user/{{user.id}}/delete">Poista käyttäjä</a>{% endif %}
	</div>

	<h2>Äänestykset</h2>
	
	<div class="box_basic" id="poll_user_list">
		{% if polls %}	
			<table class="table-striped">
				<thead>
					<tr>
						<th>Äänestys</th>
						<th>Aloitusaika</th>
						<th>Päättymisaika</th>
						<th>Äänestänyt</th>
						<th colspan="2"></th>
					</tr>
				</thead>
				<tbody>
					{% for poll in polls %}
						<tr>
							{% if user_logged_in.admin %}
								<td><a href="{{base_path}}/poll/{{poll.id}}">{{poll.name}}</a></td>
								<td><a href="{{base_path}}/poll/{{poll.id}}">{{poll.start_time}}</a></td>
								<td><a href="{{base_path}}/poll/{{poll.id}}">{{poll.end_time}}</a></td>
							{% else %}
								<td>{{poll.name}}</td>
								<td>{{poll.start_time}}</td>
								<td>{{poll.end_time}}</td>
							{% endif %}
							<td>{% if poll.voted %}Kyllä{% else %}Ei{% endif %}</td>
							<td class="action">{% if not poll.voted and (user_logged_in.id == user.id) and (poll.start_time|date('Y-m-d') <= "now"|date('Y-m-d')) and (poll.end_time|date('Y-m-d') >= "now"|date('Y-m-d')) %}<a class="btn btn-danger" href="{{base_path}}/poll/{{poll.id}}/{{user.id}}/vote"><strong>Äänestä</strong></a>{% endif %}
							</td>
							<td class="action">{% if user_logged_in.admin %}<a href="{{base_path}}/poll/{{poll.id}}/{{user.id}}/removeuser">Poista käyttäjä äänestyksestä</a>{% endif %}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
		{% if user_logged_in.admin %}
			<div class="box_basic_inner">
			{% if nonpolls %}
				<form method="post" action="{{base_path}}/poll/adduser/{{user.id}}" id="user_add_to_poll_form">
					<select id="user_add_to_poll_list" name="poll">
						{% for nonpoll in nonpolls %}
							<option value="{{nonpoll.id}}">{{nonpoll.name}}</option>
						{% endfor %}
					</select>
					<input type="submit" id="user_add_to_poll_submit" name="submit" value="Lisää käyttäjä äänestykseen" />
				</form>
			{% else %}
				<p>Käyttäjä kuluu kaikkiin järjestelmään tallennettuihin äänestyksiin.</p>
			{% endif %}
			</div>
		{% endif %}
	</div>
		
{% endblock %}